@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply shadow-md py-3 px-6 rounded-md transition duration-300
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  /* border-radius: 100vh; */
  background: #FA5959;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #242A45;
  /* border-radius: 100vh; */
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #242A45;
}
